@using System.ComponentModel.DataAnnotations
@using DLDShoppingList.Controllers
@using DLDShoppingList.Data
@model IEnumerable<DLDShoppingList.Data.ShoppingList>

@{
    ViewBag.Title = "Index";
}

<h2>Shopping List Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoppingListID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingListID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>@*create link to display all items with the same ListName
                    sort by ID? Name?*@
                @Html.ActionLink("Show", "ViewItem",  new { id = item.ShoppingListID })
                @Html.ActionLink("Edit", "Edit", new {id = item.ShoppingListID})
                @Html.ActionLink("Details", "Details", new {id = item.ShoppingListID})
                @Html.ActionLink("Delete", "Delete", new {id = item.ShoppingListID})
            </td>
        </tr>
    }

</table>

