@model IEnumerable<DLDShoppingList.Data.ShoppingListItem>
@{
    ViewBag.Title = "ViewItem";
}

<h2>ViewItem</h2>


<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShoppingList.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingList.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "ShoppingListItem", new { id=item.ShoppingListItemID }, null)
                @Html.ActionLink("Back to all Lists", "Index")
            </td>
        </tr>
    }

</table>
