<!DOCTYPE HTML>

<html>
<head>
    <title>@ViewBag.Title DLD Shopping List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../Content/css/main.css" />
    <noscript><link rel="stylesheet" href="../Content/css/noscript.css" /></noscript>
</head>
<body class="is-loading">

    <!-- Wrapper -->
   <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>DLD Shopping List</h1>

           <ul class="actions">
                <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>

       <!-- Header -->
       <header id="header">
           <a href="#" class="logo">Shopping Lists</a>
       </header>

      

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li>@Html.ActionLink("Lists", "Index", "ShoppingList")</li>
                <li>@Html.ActionLink("Items", "Index", "ShoppingListItem")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul class="icons">
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            @RenderBody()

            <!--(Possibly use this in the future) Featured Post -->
            @*<article class="post featured">
                <a href="#" class="image main"><img src="../Content/images/pic01.jpg" alt="" /></a>
                <ul class="actions">
                    <li><a href="#"class="button big">Full Story</a></li>
                </ul>
            </article>*@

  

        <!-- Footer -->
        <footer id="footer">

        </footer>

    </div>
       </div>

    <!-- Scripts -->
    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/jquery.scrollex.min.js"></script>
    <script src="../Scripts/jquery.scrolly.min.js"></script>
    <script src="../Scripts/skel.min.js"></script>
    <script src="../Scripts/util.js"></script>
    <script src="../Scripts/main.js"></script>

</body>
</html>




    